body {
    background-image: url("worldatfeet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Title, .SubTitle {
    text-align :center;
    color: white;
    display: inline;
}

.Title {
    font-size: 30px;
}

.Title h1 {
    margin-bottom : 12px;
}

.SubTitle {
    font-size: 15px;
}